<?xml version="1.0" encoding="utf-8"?>
<!-- Debug builds only: allow HTTP so Capacitor live reload (Vite http://) works. Release keeps usesCleartextTraffic=false. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic" />
</manifest>
